body {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1.5em;
  width: 100vw;
}

.container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.HeaderTop {
  background-color: white;
  border: 1px solid black;
  text-align: center;
  margin-right: 2vw;
}

.HeaderBottom {
  background-color: white;
  border: 1px solid black;
  text-align: left;
  padding-left: 1vw;
  margin-right: 2vw;
}

.Top {
  display: flex;
  background-color: #f3a738;
  align-items: center;
  flex-grow: 1;
  min-width: 700px;
}

.Top h1 {
  text-align: center;
  width: 25vw;
  color: black;
  min-width: min-content;
}

.Top p {
  width: 73vw;
  margin-left: 1vw;
}

.Content {
  display: flex;
  background-color: gainsboro;
  min-height: 50vh;
  flex-grow: 2;
}

.content-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 200px;
}

.content-left-top {
  background-color: #f3e37c;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  min-width: min-content;
}

.content-left-bottom {
  background-color: #f3d34a;
  flex-grow: 5;
  justify-content: center;
  align-items: center;
  display: flex;
  min-width: min-content;
}

.content-center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 300px;
}

.content-center-top {
  background-color: #f3db63;
  flex-grow: 5;
  justify-content: center;
  align-items: center;
  display: flex;
  min-width: min-content;
}

.content-center-bottom {
  background-color: #f3e37c;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  min-width: min-content;
}

.content-right {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3d34a;
  min-width: 200px;
  min-width: min-content;
}
